* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    font-size: 1.2rem;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to right, #f7f7f7, #f16cef);
    overflow: hidden;
    position: relative;
}

nav {
    display: flex;
    width: 80%;
    margin: 20px auto;
    align-items: center;
    font-weight: 550;
    position: sticky;
    z-index: 1;
}

.nav-links {
    flex: 1;
    text-align: right;
}

.nav-links li {
    list-style: none;
}

.log-area {
    display: flex;
    align-items: center;
}

.logo {
    width: 50px;
    height: 20%;
    margin-right: 12px;
    font-size: 14px;
}

.nav-links ul li {
    display: inline-block;
    padding: 0 2rem;
}

.nav-links ul a {
    font-weight: 600;
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
}

.nav-links ul a:hover {
    color: #dfbe2e
}

.main {
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    font-style: italic;
}

.information {
    width: 100%;
    height: auto;
    margin: 0 auto; 
}

.sakuhin {
    display: flex;
    gap: 20px;
    justify-content: center; /* 中央揃え */
}

.sakuhin img{
    width: 500px;
    height: auto;
    margin: 0 20px;
}